@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito;
    scroll-behavior: smooth;
}
:root{
    --primary-color:#716F81;
    --secondary-color:#B97A95;
    --ternary-color:#ffa488;
    --fourth-color:#CCF2F4;
    --background-color:#F2E1C1;
}
body{
    background: var(--background-color);
    padding: 25px 50px 0 50px;
}
.container{
    max-width: 1300px;
    margin: auto;
}
img{
    max-width: 100%;
    border-radius: 6px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 1rem;
}
h1{
    font-size: 2.2rem;
}
p{
    font-size: 1.1rem;
}
#gif{
    padding: 10px;
    max-width: 300px;
    display: none;
}
#special{
    color: var(--ternary-color);
    font-family: Pacifico;
    text-shadow: -1px -1px var(--primary-color);
}
#main{
    height:max-content;
    background: var(--primary-color);
    border-radius: 6px;
    margin-bottom: 50px;
}
header{
    border-bottom: 3px solid var(--ternary-color);
    padding: 20px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
header a{
    padding: 10px;
    margin: 10px 20px;
    color:var(--ternary-color);  
}
header a:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 50%;
}
#overview{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    justify-content: center;
    align-items: center;
}
#overview >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:whitesmoke;
    padding: 10px 20px;
}
#smooth_scroller{
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    margin-top: 2rem;
    font-weight: 700;
    color:var(--ternary-color);
    font-size: 1rem;
    text-shadow: -1px -1px var(--primary-color);
    background: var(--background-color);
}
#input_data{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
#input_data input{
    border: 3px solid var(--primary-color);
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 20px;
}
#btn{
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    font-weight: 700;
    color:whitesmoke;
    font-size: 1rem;
    text-shadow: -1px -1px var(--primary-color);
    background:var(--secondary-color);
}

#output{
    display: none;
    margin-top: 70px;
    border-radius: 6px;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 1.4rem;
    background: var(--primary-color);
    color: whitesmoke;
    text-shadow: -1px -1px var(--ternary-color);
}
footer{
    width: 100%;
    text-align: center;
    background: var(--primary-color);
    padding: 15px 0;
    border-top: 8px solid var(--ternary-color);
    border-radius: 10px 10px 0 0;
}
#social{
    display: flex;
    align-items: center;
    justify-content: center;
}
#social>div{
    padding: 0.8rem 1rem;
}
footer a{
    color: var(--ternary-color);
}
footer a:hover{
    color: var(--background-color);
}
@media screen and (max-width:960px){
    #overview{
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem 0 0 0;
        height: max-content;
    }
}
/* mobile */
@media screen and (max-width:400px){
    body{
        padding: 0 1rem;
    }
    h1,h2,h3,h4,h5,h6{
        margin-bottom: 0.7rem;
    }
    #main{
        margin-bottom: 200px;
    }
    header{
        justify-content: center;
    }
    #overview{
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px 0 0 0;
    }
    h1{
        font-size: 1.6rem;
    }
    #gif{
        max-width: 230px;
        margin-top: 1rem;
    }
    #output{
        margin-top: 40px;
        border-radius: 6px;
        padding: 1.3rem;
        font-weight: 500;
        font-size: 1.2rem;
    }
    footer{
        padding:0;
    }
    #social>div{
        padding: 10px ;
    }
}